*{margin: 0mm; padding: 0mm; }
.container{display: flex;width: 100%; height:620px;}
.blue{background-image: url("rocket\ small.png"),linear-gradient(to right,rgba(0,255,255,0),rgba(0,255,255,1)); 
    width:50%; 
 background-position: center; background-repeat: no-repeat;}
.black{background-color: black; width:50%; }

.form{ width:78%; margin:40px 10%; color:white;}
input{padding:8px; margin:12px; width:100%; display: block;}
label{margin:8px 8px; display: block;}
#submit{padding: 15px; margin:12px;width: 100%;  color: white;
background-image: linear-gradient(to right,rgba(0,255,255,0),rgba(0,255,255,1));}
.link{ color: cyan; text-decoration: none;}
p{text-align: center;}
.alert{ margin:10px 0; color:brown;}

@media (max-width:500px){
    .blue{display:none;}
    .black{width:100%;}
}